<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Расписание на аудиторию №' + ${room.getNumber()}"></title>
</head>
<body>
    <div th:insert="mainMenu :: mainMenu"></div>

    <div class="infoBlock">
        <h1 th:text="'Аудитория №' + ${room.getNumber()}"></h1>
        <div th:if="${!schedule.isEmpty()}">
            <table>
                <thead>
                    <tr>Начало</tr>
                    <tr>Конец</tr>
                    <tr>Доклад</tr>
                </thead>
                <tbody>
                <tr th:each="sc: ${schedule}">
                    <td th:text="${#temporals.format(sc.getDateStart(), 'dd MMMM yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(sc.getDateEnd(), 'dd MMMM yyyy HH:mm')}"></td>
                    <td th:text="${sc.getTalk().getTitle()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${schedule.isEmpty()}">
            <p>В данной аудитории пока что не запланировано ни одного доклада</p>
        </div>
        <a href="/">Вернуться на главную</a>
    </div>
</body>
</html>