<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Редактирование пользователя ' + ${user.getUsername()}"></title>
</head>
<body>
    <input type="text" name="username" th:value="${user.getUsername()}">
    <p th:text="'Текущие роли пользователя: '"></p>
        <div th:text="${user.getRole().name()}"></div>
    <label th:for="*{roles}"></label>
    <select th:field="*{roles}">
        <div th:each="role: ${roles}">
            <option th:value="${role.name()}" th:text="${role.name()}"></option>
        </div>
    </select>
</body>
</html>